.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pyc
*.0
logs/**
*/__pycache__
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
wandb/
data-checkpoint.py
.ipynb_checkpoints
.pytest_cache
*/outputs
*/output.*
*/*.egg-info
*.egg-info*
log/
*/old/
datasets/**
run.sh
*.out
runs/
*.png
